<!DOCTYPE html>
<html>
<head>
    <title>Pokedex</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body class="bg-gray-500">
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <a href="/">
                        <img class="block h-8 w-auto" src="/images/logo.png" alt="MyPokedex logo">
                    </a>
                </div>
            </div>
            <a type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-600 font-medium rounded-lg text-sm px-5 py-2.5" href="/add">Ajouter</a>
        </div>
    </div>
</nav>